<div class="row">
    <h1>Hard & soft skills</h1>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'pink'"
        [titleFontSize]="'3em'"
        [imageSrc]="'../../assets/kisspng-html-world-wide-web-consortium-electronic-frontier-foundation-5b1fc60d4d3944.1669023115288089733163.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#FF8C19'"
        [innerStrokeColor]="'#FFBB33'"
        [animation]="true"
        [animationDuration]="600"
     ></circle-progress>
    </div>
</div>